In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("../Dataset/hair_loss.csv")

In [9]:
df

,total_protein,total_keratine,hair_texture,vitamin,manganese,iron,calcium,body_water_content,stress_level,liver_data,hair_fall
0,312,100,14,249,87,55,333,44,41,368,4
1,52,207,3,425,387,1,182,26,65,41,1
2,170,197,11,140,199,91,414,30,54,90,4
3,256,334,19,358,120,3,35,48,45,65,2
4,309,185,58,207,329,301,345,23,90,346,4
...,...,...,...,...,...,...,...,...,...,...,...
99995,440,20,63,209,473,260,12,86,7,281,5
99996,311,233,37,352,194,159,391,57,76,30,5
99997,27,210,10,185,376,278,96,40,49,110,3
99998,450,18,35,250,287,157,81,31,2,156,1
99999,464,487,15,440,110,164,356,33,93,12,0